<div class="slider-container" (mousedown)="onDragStart($event)" (mousemove)="onDrag($event)"
  (mouseup)="onDragEnd($event)" (touchstart)="onDragStart($event)" (touchmove)="onDrag($event)"
  (touchend)="onDragEnd($event)" #sliderContainer>
  <div class="slides">
    <div class="slide" *ngFor="let item of slides; let i = index; trackBy: trackById"
      [style.transform]="getSlideTransform(i,deltaX())" (click)="toggleOpen(i)" [attr.data-unique-id]="item.uniqueId"
      [ngClass]="{'active': item.isActive}">
      <div class="img-wrapper">
        <img [src]="item.srcUrl" alt="slide_img">
      </div>
      <p>
        <span>{{item.title}} </span><br>
      </p>
    </div>
    <div class="info-block" *ngFor="let item of slides; let i = index; trackBy: trackById"
      [style.z-index]="slides.length">
      <button class="back-btn" (click)="toggleOpen(i)">back</button>
      <h2>{{item.title}}</h2>
      <p class="info-text">{{item.text}}</p>
    </div>
  </div>
  <button (click)="previousSlide()" class="prev">Previous</button>
  <button (click)="nextSlide()" class="next">Next</button>
</div>