@if (allSlides()) {
<div class="slider-container" (mousedown)="onDragStart($event)" (mouseup)="onDragEnd($event)"
  (touchstart)="onDragStart($event)" (mousemove)="onDrag($event)" (touchend)="onDragEnd($event)"
  (touchmove)="onDrag($event)" #sliderContainer>
  <div class="slides">
    @for (item of allSlides(); track trackById; let i = $index) {
    <div #slideElement class="slide" (click)="toggleOpen(i)" [attr.data-unique-id]="item.uniqueId"
      [ngClass]="{'active': item.isActive}">
      <div class="img-wrapper">
        <img [src]="item.srcUrl" alt="slide_img" draggable="false">
      </div>
      <p>
        <span>{{item.title}}<br>id: {{item.id}}<br>uniqueId: {{item.uniqueId}}</span><br>
      </p>
    </div>
    }
    @for (item of allSlides(); track trackById; let i = $index) {
    <div class="info-block" [style.z-index]="cnt()">
      <div class="button-wrapper" [ngClass]="{'mobile':screenWidth()<1024&&opened()===true}">
        <button class="back-btn" (click)="toggleOpen(i)">{{screenWidth()>=1024?'back':'&#x2715;'}}</button>
      </div>
      <h2>{{item.title}}</h2>
      <p class="info-text">{{item.text}}</p>
    </div>
    }
  </div>
  <button (click)="previousSlide()" class="prev">Previous</button>
  <button (click)="nextSlide()" class="next">Next</button>
</div>
}